body {
  font-family: "Quicksand", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7e5e5;
}

header {
  background-color: #ffffff;
  color: #986f60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
  margin: 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #986f60;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #333;
}

#banner img {
  width: 100%;
  height: auto;
}

#modelos {
  text-align: center;
  padding: 40px 20px;
}

#modelos h2 {
  color: #986f60;
}

.modelos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.modelo {
  text-align: center;
}

#contato {
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

#contato h2 {
  color: #986f60;
}

footer {
  background-color: #fbf8f4;
  color: #986f60;
  text-align: center;
  padding: 20px 0;
}

#produto {
  padding: 40px;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.produto-imagem img {
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produto-detalhes {
  max-width: 400px;
}

.produto-detalhes h2 {
  color: #986f60;
  margin-top: 0;
}

.produto-detalhes p {
  margin: 10px 0;
}

.produto-detalhes .btn-comprar {
  background-color: #986f60;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.produto-detalhes .btn-comprar:hover {
  background-color: #333;
}

.veja-mais-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  background-color: #986f60;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.veja-mais-button:hover {
  background-color: #333;
}
.produto-detalhes div {
  margin-bottom: 15px;
}

.produto-detalhes label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.produto-detalhes input[type="number"],
.produto-detalhes select {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
}

.produto-detalhes input[type="number"]:focus,
.produto-detalhes select:focus {
  box-shadow: 0 0 5px rgba(146, 11, 110, 0.5);
}

.produto-detalhes .btn-comprar {
  display: inline-block;

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.produto-detalhes p strong {
  font-size: 18px;
}
